<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>설문조사</title>
  </head>
  <body>
    <div>
      <form class="contact-form" action="/contacts" method="post" style="text-align: center;">
        <h3 style="margin-top: 30px;">설문조사</h3>
        <br/> <hr/>
        <h5 style="margin-top: 30px; margin-bottom: 15px;">당신의 성별은?</h5>
        <input type="radio" name="gender" value="male"/>남
        <input type="radio" name="gender" value="female"/>여
        <br/>
        <br/>
        <h5 style="margin-top: 30px; margin-bottom: 15px;">좋아하는 동물은?</h5>
        <input type="radio" name="animal" value="tiger"/>호랑이
        <input type="radio" name="animal" value="elephant"/>코끼리
        <br/>
        <br/>
        <button class="btn btn-primary" type="submit" name="button" style="margin-top: 30px;">제출</button>
      </form>
    </div>  
    </body>
</html>